In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read in data
playoff_box_scores = pd.read_csv('../NBA_Player_Evolution_2020-2024/play_off_box_scores_2010_2024.csv')

#Change season_year and game_date to date-time format
playoff_box_scores['game_date'] = pd.to_datetime(playoff_box_scores['game_date'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
playoff_box_scores[(playoff_box_scores['season_year']>='2020-21') & (playoff_box_scores['season_year']<='2023-24')]

#Select the columns I will be using to make it easier to work with
playoff_box_scores = playoff_box_scores[['season_year', 'game_date', 'gameId', 'teamId', 'teamTricode', 'teamSlug', 'personId', 'personName', 'position', 'minutes', 'fieldGoalsPercentage', 'threePointersPercentage', 'freeThrowsPercentage', 'points', 'plusMinusPoints', 'assists']]
playoff_box_scores

,season_year,game_date,gameId,teamId,teamTricode,teamSlug,personId,personName,position,minutes,fieldGoalsPercentage,threePointersPercentage,freeThrowsPercentage,points,plusMinusPoints,assists
0,2011-12,2012-06-03,41100304,1610612748,MIA,heat,436,Juwan Howard,NaN,NaN,0.0,0.0,0.0,0,0,0
1,2011-12,2012-06-09,41100307,1610612748,MIA,heat,436,Juwan Howard,NaN,0:28,0.0,0.0,0.0,0,0,0
2,2010-11,2011-06-05,41000403,1610612748,MIA,heat,436,Juwan Howard,NaN,6:25,0.0,0.0,0.5,1,6,1
3,2011-12,2012-04-28,41100111,1610612748,MIA,heat,436,Juwan Howard,NaN,5:12,0.0,0.0,0.0,0,3,0
4,2011-12,2012-05-15,41100202,1610612748,MIA,heat,436,Juwan Howard,NaN,NaN,0.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31180,2023-24,2024-04-20,42300161,1610612756,PHX,suns,1629642,Nassir Little,NaN,3:37,1.0,0.0,0.0,2,-5,0
31181,2023-24,2024-04-28,42300164,1610612756,PHX,suns,201152,Thaddeus Young,NaN,NaN,0.0,0.0,0.0,0,0,0
31182,2023-24,2024-04-23,42300162,1610612756,PHX,suns,201152,Thaddeus Young,NaN,NaN,0.0,0.0,0.0,0,0,0
31183,2023-24,2024-04-26,42300163,1610612756,PHX,suns,201152,Thaddeus Young,NaN,NaN,0.0,0.0,0.0,0,0,0
31184,2023-24,2024-04-20,42300161,1610612756,PHX,suns,201152,Thaddeus Young,NaN,3:37,0.0,0.0,0.0,0,-5,0

In [3]:
# Read in data
team_playoff_totals = pd.read_csv('../NBA_Player_Evolution_2020-2024/play_off_totals_2010_2024.csv')

#Change season_year and game_date to date-time format
team_playoff_totals['GAME_DATE'] = pd.to_datetime(team_playoff_totals['GAME_DATE'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
team_playoff_totals[(team_playoff_totals['SEASON_YEAR']>='2020-21') & (team_playoff_totals['SEASON_YEAR']<='2023-24')]

#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
team_playoff_totals = team_playoff_totals[['SEASON_YEAR', 'GAME_DATE', 'GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'FG_PCT', 'FG3_PCT', 'FT_PCT', 'PTS', 'PTS_RANK', 'AST', 'AST_RANK', 'PLUS_MINUS_RANK']]
team_playoff_totals

,SEASON_YEAR,GAME_DATE,GAME_ID,TEAM_ID,TEAM_NAME,FG_PCT,FG3_PCT,FT_PCT,PTS,PTS_RANK,AST,AST_RANK,PLUS_MINUS_RANK
0,2010-11,2011-05-10,41000205,1610612737,Atlanta Hawks,0.479,0.083,0.824,83,140,20,43,139
1,2010-11,2011-05-02,41000201,1610612737,Atlanta Hawks,0.513,0.538,0.800,103,24,20,43,39
2,2010-11,2011-05-04,41000202,1610612737,Atlanta Hawks,0.338,0.231,0.750,73,159,14,137,145
3,2010-11,2011-04-19,41000132,1610612737,Atlanta Hawks,0.395,0.350,0.647,82,144,15,123,106
4,2010-11,2011-04-26,41000135,1610612737,Atlanta Hawks,0.362,0.250,0.688,76,157,15,123,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2357,2023-24,2024-04-20,42300161,1610612756,Phoenix Suns,0.440,0.321,0.800,95,129,16,156,153
2358,2023-24,2024-04-20,42300131,1610612739,Cleveland Cavaliers,0.444,0.267,0.810,97,120,21,103,31
2359,2023-24,2024-04-20,42300161,1610612750,Minnesota Timberwolves,0.500,0.375,0.909,120,21,26,35,11
2360,2023-24,2024-04-20,42300111,1610612755,Philadelphia 76ers,0.444,0.343,0.909,104,92,17,149,106
2361,2023-24,2024-04-20,42300131,1610612753,Orlando Magic,0.326,0.216,0.633,83,161,16,156,133

In [4]:
regular_part_1 = pd.read_csv('../NBA_Player_Evolution_2020-2024/regular_season_box_scores_2010_2024_part_1.csv')

#Change season_year and game_date to date-time format
regular_part_1['game_date'] = pd.to_datetime(regular_part_1['game_date'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
#regular_part_1[(regular_part_1['season_year']>='2020-21') & (regular_part_1['season_year']<='2023-24')]
regular_part_1 = regular_part_1[regular_part_1['game_date']>='2020-03-01']

#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
regular_part_1 = regular_part_1[['season_year', 'game_date', 'gameId', 'teamId', 'teamTricode', 'teamName', 'personId', 'personName', 'position', 'minutes', 'assists', 'points', 'fieldGoalsPercentage', 'threePointersPercentage', 'plusMinusPoints', 'freeThrowsPercentage']]

regular_part_1['season_year'].unique()

array(['2019-20', '2021-22', '2020-21', '2023-24', '2022-23'],
      dtype=object)

In [5]:
regular_part_2 = pd.read_csv('../NBA_Player_Evolution_2020-2024/regular_season_box_scores_2010_2024_part_2.csv')

#Change season_year and game_date to date-time format
regular_part_2['game_date'] = pd.to_datetime(regular_part_2['game_date'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
#regular_part_2[(regular_part_2['season_year']>='2020-21') & (regular_part_2['season_year']<='2023-24')]
regular_part_2 = regular_part_2[regular_part_2['game_date']>='2020-03-01']

#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
regular_part_2 = regular_part_2[['season_year', 'game_date', 'gameId', 'teamId', 'teamTricode', 'teamName', 'personId', 'personName', 'position', 'minutes', 'assists', 'points', 'fieldGoalsPercentage', 'threePointersPercentage', 'plusMinusPoints', 'freeThrowsPercentage']]
regular_part_2['season_year'].unique()

array(['2019-20', '2020-21', '2023-24', '2021-22', '2022-23'],
      dtype=object)

In [6]:
regular_part_3 = pd.read_csv('../NBA_Player_Evolution_2020-2024/regular_season_box_scores_2010_2024_part_3.csv')

#Change season_year and game_date to date-time format
regular_part_3['game_date'] = pd.to_datetime(regular_part_3['game_date'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)

regular_part_3 = regular_part_3[regular_part_3['game_date']>='2020-03-01']
#regular_part_3['season_year'] = regular_part_3[regular_part_3['season_year'].isin(filtered_years)]


#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
regular_part_3 = regular_part_3[['season_year', 'game_date', 'gameId', 'teamId', 'teamTricode', 'teamName', 'personId', 'personName', 'minutes', 'assists', 'points', 'fieldGoalsPercentage', 'threePointersPercentage', 'plusMinusPoints', 'freeThrowsPercentage']]

regular_part_3['season_year'].unique()

array(['2019-20', '2020-21', '2021-22', '2023-24', '2022-23'],
      dtype=object)

In [7]:
regular_season_totals = pd.read_csv('../NBA_Player_Evolution_2020-2024/regular_season_totals_2010_2024.csv')

#Change season_year and game_date to date-time format
regular_season_totals['GAME_DATE'] = pd.to_datetime(regular_season_totals['GAME_DATE'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
regular_season_totals[(regular_season_totals['SEASON_YEAR']>='2020-21') & (regular_season_totals['SEASON_YEAR']<='2023-24')]

#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
regular_season_totals[['SEASON_YEAR', 'GAME_DATE', 'GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'FG_PCT', 'FG3_PCT', 'FT_PCT', 'AST', 'AST_RANK', 'PTS', 'PTS_RANK', 'PLUS_MINUS_RANK']]

,SEASON_YEAR,GAME_DATE,GAME_ID,TEAM_ID,TEAM_NAME,FG_PCT,FG3_PCT,FT_PCT,AST,AST_RANK,PTS,PTS_RANK,PLUS_MINUS_RANK
0,2022-23,2023-04-09,22201230,1610612744,Golden State Warriors,0.604,0.551,0.875,47,1,157,3,1
1,2020-21,2020-12-29,22000051,1610612749,Milwaukee Bucks,0.554,0.569,0.867,32,146,144,14,7
2,2013-14,2013-12-16,21300359,1610612751,Brooklyn Nets,0.603,0.600,0.577,35,22,130,19,12
3,2013-14,2013-12-14,21300347,1610612757,Portland Trail Blazers,0.559,0.568,0.700,41,2,139,4,15
4,2018-19,2019-04-07,21801200,1610612745,Houston Rockets,0.530,0.474,0.762,34,84,149,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33311,2022-23,2023-01-23,22200710,1610612766,Charlotte Hornets,0.447,0.125,0.706,22,1756,102,2077,2211
33312,2022-23,2023-01-29,22200754,1610612746,LA Clippers,0.416,0.105,0.852,17,2338,99,2220,2339
33313,2018-19,2019-03-23,21801090,1610612741,Chicago Bulls,0.359,0.125,0.750,16,2339,83,2439,2412
33314,2021-22,2021-10-30,22100078,1610612738,Boston Celtics,0.411,0.077,0.880,23,1407,112,1081,1321
33315,2013-14,2013-12-30,21300454,1610612763,Memphis Grizzlies,0.449,0.000,0.750,19,1681,91,1931,1417

In [8]:
# Combine the 3 regular season stats for easier analysis and remove duplicates
two_regular_season = pd.merge(regular_part_1, regular_part_2, how='outer')
#all_regular_season = all_regular_season.drop_duplicates()
two_regular_season

,season_year,game_date,gameId,teamId,teamTricode,teamName,personId,personName,position,minutes,assists,points,fieldGoalsPercentage,threePointersPercentage,plusMinusPoints,freeThrowsPercentage
0,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,101107,Marvin Williams,NaN,19:37,2,0,0.000,0.000,-11,0.000
1,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,101141,Ersan Ilyasova,NaN,NaN,0,0,0.000,0.000,0,0.000
2,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,201572,Brook Lopez,C,26:25,0,16,0.364,0.200,16,0.778
3,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,201577,Robin Lopez,NaN,13:18,0,2,0.200,0.000,-12,0.000
4,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,201588,George Hill,NaN,25:43,2,11,0.364,0.250,2,0.667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85039,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1629611,Terance Mann,G,27:40,2,24,0.714,0.333,-4,1.000
85040,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1629875,Xavier Moon,G,46:21,6,14,0.273,0.222,-7,0.000
85041,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1630527,Brandon Boston Jr.,NaN,30:53,3,15,0.313,0.333,-4,0.750
85042,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1630538,Bones Hyland,NaN,NaN,0,0,0.000,0.000,0,0.000
85043,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1641738,Kobe Brown,NaN,38:26,4,9,0.400,0.333,-10,0.000

In [26]:
all_regular_season = pd.merge(two_regular_season, regular_part_3, how='outer')
all_regular_season = all_regular_season[all_regular_season['minutes']>'20:00']
all_regular_season.info()
#all_regular_season['minutes'] = all_regular_season['minutes'].astype(int)

#def remove_seconds(time_str):
    #return time_str.split(':')[0]

# Apply the function to the 'time' column
#all_regular_season['minutes'] = all_regular_season['minutes'].apply(remove_seconds)
#all_regular_season = all_regular_season[all_regular_season['minutes']>20]

ValueError: invalid literal for int() with base 10: '19:37'